body {
  font-family: 'Huninn', sans-serif;
  // font-family: 'Cooper Black', sans-serif;
}

.title {
  font-size: 3rem;
  color: #353d42;
  font-weight: 700;
  font-family: 'Huninn', sans-serif;

  @media (min-width: 768px) {
    font-size: 4rem;
    font-weight: 700;
  }
}

.page-title {
  margin-top: 30px;
  font-size: 2.3rem;
  color: #353d42;
  font-weight: 700;
  font-family: 'Huninn', sans-serif;
}

.page-title-light {
  color: #f1f1f1;
  font-size: 2.3rem;
  font-weight: 700;
}

.bg-dark {
  background-color: #353d42;
}
.bg-light {
  background-color: #f1f1f1;
}

.btn {
  border-radius: 8px;
  // background-color: #353d42;
  background-color: #fdd000;
  color: black;
  // font-weight: 700;
  font-size: 1.1rem;
  box-shadow: 3px 6px 1px black;
  border: 2px solid black;
}

.btn:hover {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.neubrutalism {
  box-shadow: 3px 6px 1px #353d42;
  border-radius: 8px;
  background-color: white;

  :deep(.v-field) {
    border-radius: 8px !important;
  }

  :deep(.v-field__outline::before),
  :deep(.v-field__outline::after) {
    border-style: none !important;
  }
}

.card-dialog {
  border: 2px solid black;
  background-color: #f1f1f1;
}

.card-memberPage {
  box-shadow: 3px 6px 1px #353d42;
  // border-radius: 8px;
  border: 2px solid black;
}
